.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -7em;
}

/*color */
.st0 {
  fill: #C77B32;
}

.st9 {
  fill: #eee;
}

.sta {
  fill: url(#gradient);
}

/* sparkle animation */
.st0:nth-child(1n), .st9:nth-child(1n) {
  -moz-animation: sparkle 0.2s linear infinite alternate;
  -webkit-animation: sparkle 0.2s linear infinite alternate;
  animation: sparkle 0.2s linear infinite alternate;
}

.st0:nth-child(3n+1) {
  -moz-animation: sparkle 0.2s 0.6s linear infinite alternate;
  -webkit-animation: sparkle 0.2s 0.6s linear infinite alternate;
  animation: sparkle 0.2s 0.6s linear infinite alternate;
}

@-moz-keyframes sparkle {
  100% {
    fill: powderblue;
  }
}
@-webkit-keyframes sparkle {
  100% {
    fill: powderblue;
  }
}
@keyframes sparkle {
  100% {
    fill: powderblue;
  }
}
/*stroke */
.path {
  stroke-dasharray: 100;
  animation: hot 4s linear infinite;
}

@-moz-keyframes hot {
  to {
    stroke-dashoffset: 1500;
  }
}
@-webkit-keyframes hot {
  to {
    stroke-dashoffset: 1500;
  }
}
@keyframes hot {
  to {
    stroke-dashoffset: 1500;
  }
}