#nuotron
  .ellipse
  .dot

a#text(href='http://facebook.com/YahiaRefaiea' target='_blank')
  .hover
    div Launching our first project in September.
    div Hover to find more details..
  .website
    div Click to follow the founder's social
    div media updates.
  .nuotron Nuotron
  .agency Agency