<header>
  <nav>
    <a href="#" class="selected">Home</a>
    <a href="#">Albums</a>
    <a href="#">Content</a>
    <a href="#">Essays</a>
  </nav>
  
  <h1>Sebastian Pinehurst</h1>
  <p>Figment of your photographic mind</p>
</header>

<main>
  - items = (30..61)
  - for item in items do
    <figure>
      <img src="https://unsplash.it/300/300/?image=#{item}" />
      <a href="#">
        <div class="wrapper">
          <h3>Cup of joe</h3>
          <time>January 1st, 2015</time>
        </div>
      </a>
    </figure>
</main>