* {
	margin: 0;
}

body {
	background-image: linear-gradient(
		200deg,
		#a12580 0%,
		#4620ad 40%,
		#5406b9 60%,
		#a12580 100%
	);
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
